<!-- Start menu -->

<div id="circularMenu1" class="circular-menu circular-menu-left active">

<a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
<i class="fa fa-arrow-right"></i>
</a>

<menu class="items-wrapper">
<a href="https://scioly.netlify.app" class="menu-item fa fa-home"></a>
<a href="https://www.hudson.k12.oh.us" class="menu-item fa fa-graduation-cap"></a>
<a href="/contact.html" class="menu-item fa fa-envelope"></a>
<a href="/links.html" class="menu-item fa fa-link"></a>
</menu>

</div>
