<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
<link rel="canonical" href="https://hmsscioly.js.org/{{ page.url | replace:'index.html','' }}" />
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta name="title" content="{{ page.title }} Hudson Middle School Science Olympiad">
	<meta name="description" content="{{ page.description }}.">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/menu.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Space+Mono&family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<script src="https://use.fontawesome.com/c3dc2f3a63.js"></script>
</head>
<body>
    <header>
	    <p><a href="https://scioly.netlify.app">Home</a> | <a href="https://www.hudson.k12.oh.us">Back to HMS website</a> | <a href="/contact.html">Contact</a> | <a href="/links.html">Resources</a> | <a href="/pages.html>Pages </a></p>
	</header>
	<h1 style=" text-align: center;">
        {{ page.title }}
    </h1>
	<hr>
{{ content }}
		
		<footer>
			<p><a href="https://scioly.netlify.app">Home</a> | <a href="https://www.hudson.k12.oh.us">Back to HMS website</a> | <a href="/contact.html">Contact</a> | <a href="/links.html">Resources</a> | <a href="/pages.html>Pages</a></p>
			<p style="text-align: right;"><a href="#">Back to top</a></p>

		</footer>
</body>

</html>
