<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>{{ page.title }} | {{ site.title }}</title>
	<meta name="title" content="Hudson Middle School Science Olympiad!">
	<meta name="description" content="Learn more about Hudson Middle School Science Olympiad. Science Olympiad is an extracurricular activity where we learn about all forms of science. We compete against other teams, and the competitions are like track meets, with 23 different events. Events are in three major categories: build, test, and lab. Most events are done with a partner. Science Olympiad requires practice, determination, and preparation.">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/menu.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Space+Mono&family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<script src="https://use.fontawesome.com/c3dc2f3a63.js"></script>
</head>
<body>
    <header>
	    <p><a href="https://scioly.netlify.app">Home</a> | <a href="https://www.hudson.k12.oh.us">Back to HMS website</a> | <a href="/contact.html">Contact</a> | <a href="/links.html">Resources</a> | <a href="/pages.html>Pages</a></p>
	</header>
	<h1 style=" text-align: center;">
        {{ page.title }}
    </h1>
	<hr>
{{ content }}
		
		<footer>
			<p><a href="https://scioly.netlify.app">Home</a> | <a href="https://www.hudson.k12.oh.us">Back to HMS website</a> | <a href="/contact.html">Contact</a> | <a href="/links.html">Resources</a> | <a href="/pages.html>Pages</a></p>
			<p style="text-align: right;"><a href="#">Back to top</a></p>

		</footer>
</body>

</html>
